.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../../images/frontend/loading_new.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}
.loading-indicator-overlay {
	/*background-color: #FFFFFF;*/
	opacity: 0.6;
	filter: alpha(opacity = 60);
}