
/* ======================================================== 
            320 - 1023
======================================================== */
@media (min-width: 320px) and (max-width: 1023px){
.logo {
    width: 40%;
}

/*.top-nav {
	display: none;
}*/

.container {
    margin: 0 auto;
    width: 100%;
}

#owl-listface-student .owl-controls .owl-buttons div.owl-next {
	right: 0;
}

#owl-listface-student .owl-controls .owl-buttons div.owl-prev {
    left: 0;
}

.welcome-text {
    font-size: 15px;
    line-height: 20px;
}

.menu ul li:hover {
    background: none;
}


}



/* ======================================================== 
            320 - 767
======================================================== */

@media (min-width: 320px) and (max-width: 767px){
.list-face-student .owl-carousel {
    padding: 0 65px;
}

.link-group {
	font-size: 14px;
	letter-spacing: -1px;
}

.description-class {
    font-size: 17px;
    line-height: 20px;
    padding: 0 20px;
}

#owl-example .owl-item img {
    height: 125px;
}

.face-lable {
    font-size: 13px;
    padding: 0 20px;
}

.footer-menu {
    height: 50px;
}

.footer-menu ul {
    padding: 5px 10px;
    height: 50px;
    line-height: 20px;
}

.footer-menu ul li {
    margin-right: 18px;
}

.footer-menu ul li a {
    font-size: 10px;
}

.copy-right {
    font-size: 11px;
}

.top-nav {
    padding-top: 0px;
}

.menu ul li.active {
     background: none;
}

.menu ul li a {
    font-size: 12px;
    padding: 0px 7px;
    text-align: center;
}

.menu ul li {
    padding-top: 11px;
    height: 30px;
    width: 33.3333%;
}

.menu ul li:nth-child(4), .menu ul li:nth-child(5), .menu ul li:nth-child(6) {
	padding-top: 0px;
}

.tieude-tkb {
    font-size: 20px;
    padding: 20px 0;
}

.slideup {
    padding: 5px 10px 50px;
}

.slide-notificate {
    background: url("../images/icon_book2.png") 5px center no-repeat;
}

.div-jquery h4 {
    height: 45px;
    font-size: 13px;
    positon: relative;
    padding-left: 55px;
    padding-top: 7px;
    display: table-cell;
}

.div-jquery h4 span {
    display: inline;
    height: 35px;
    line-height: 15px;
    padding-right: 30px;
}

.div-jquery h4 i {
    position: relative;
    top: -42px;
    height: 44px;
    margin-right: 10px;
}

.div-jquery article {
    padding: 10px 0px 15px;
}

.text-description {
    font-size: 15px;
}

.tieude-tkb {
    font-size: 15px;
}

.table-tkb th {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    min-width: 20px; 
}

.table-tkb td {
	font-size: 11px;
    letter-spacing: -0.9px;
    line-height: 13px;
}

.table-tkb th:first-child {
	font-size: 9px;
	letter-spacing: -0.5px;
}

.table-tkb td:first-child {
	font-size: 9px;
	letter-spacing: -0.5px;
}

.ghi-chu {
    line-height: 18px;
    font-size: 14px;
    padding: 0 20px;
}

.ghi-chu span {
    font-size: 15px;
}

.list-dssv {
    padding: 0 5px;
}

/*ul.header-label li {
    font-size: 10px;
    height: 25px;
    line-height: 25px;
}

ul.header-label li.stt {
    width: 24px;
}

ul.header-label li.name {
    width: 125px;
}

ul.header-label li.gender {
    width: 35px;
}

ul.header-label li.birthday {
    width: 70px;
}

ul.header-label li.note {
    width: 56px;
}*/

.table-dssv td {
    font-size: 11px;
    height: 25px;
    line-height: 25px;
}

.table-dssv td.col2 {
    padding-left: 5px;
}

/*.table-dssv th.col1 {
    width: 24px;
    font-size: 12px;
    text-align: center !important;
}

.table-dssv th.col2 {
    width: 125px;
    padding-left: 5px;
    font-size: 12px;
    text-align: center !important;
}

.table-dssv th.col3 {
    width: 35px;
    font-size: 12px;
    text-align: center !important;
}

.table-dssv th.col4 {
    width: 70px;
    font-size: 12px;
    text-align: center !important;
}

.table-dssv th.col5 {
    width: 56px;
    font-size: 12px;
    text-align: center !important;
}

.table-dssv td.col1 {
    width: 24px;
}

.table-dssv td.col2 {
    width: 125px;
    padding-left: 5px;
}

.table-dssv td.col3 {
    width: 35px;
}

.table-dssv td.col4 {
    width: 70px;
}

.table-dssv td.col5 {
    width: 56px;
}*/

.div-jquery article img {
    width: 100%;
    text-align: center;
    float: left;
}

#contact_form {
    padding: 0 10px;
}

#contact_form input, #contact_form textarea {
    width: 90%;
}


}

/* ======================================================== 
            768 - 1023
======================================================== */

@media (min-width: 768px) and (max-width: 1023px){
#owl-example .owl-item img {
    height: 250px;
}

.logo {
    width: 25%;
}

.top-nav {
    padding-top: 0;
}

.menu ul li a {
    font-size: 13px;
}

.description-class {
	margin-bottom: 0;
    min-height: 280px;
}

.noti-height {
    min-height: 865px;
}

.bm-height {
    min-height: 830px;
}

.ghi-chu {
    margin-bottom: 0px; 
    min-height: 500px;
}

.list-dssv {
    padding: 0 20px;
}

/*ul.header-label li.stt {
    width: 40px;
}

ul.header-label li.name {
    width: 258px;
}

ul.header-label li.birthday {
    width: 130px;
}*/

/*.table-dssv td.col1 {
    width: 40px;
}

.table-dssv td.col2 {
    width: 258px;
}

.table-dssv td.col4 {
    width: 130px;
}*/

.list-face-student {
    padding-left: 35px;
}

#owl-listface-student .owl-controls .owl-buttons div.owl-prev {
    left: -30px;
}

.slideup {
    padding: 30px 15px 30px;
}

.div-jquery article {
    padding: 20px 30px 15px;
}

}


@media screen and (min-width: 1024px){

}