/* ============================================
                    web font
=============================================== */

@charset "utf-8";
/* CSS Document */

/* =========================================
                    set up
============================================ */

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif !important;
    font-size: 15px;
    color: #3a3a3a;
    background-color: #fff;
}

header, footer, nav {
    display: block;
    width: 100%;
    float: left;
}

.clearAll{ 
    clear: both; 
    font-size: 0px; 
    width: 0px; 
    height: 0px; 
}

.center{ 
    text-align: center; 
}

.img-responsive {
    display: inline;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto; 
    width: 1000px;
}

.full-width {
    width: 100%;
    float: left;
}

.w50-fl {
    width: 50%;
    float: left;
}

/* =========================================
                    content
============================================*/
header {
    border-bottom: 3px solid #374799;
}

.dv-top {
    padding-top: 7px;
    padding-bottom: 7px;
}

.logo {
    float: left;
}

.top-nav{
    float: right;
    padding-top: 32px;
}

.address {
    width: 100%;
    float: left;
    text-align: right;
    font-size: 15px;
    color: #3a3a3a;
    padding: 15px 0 10px 0
}

.address img {
    float: left;
}

.address span {
    background: url("../images/icon_local.png") top left no-repeat;
    padding-left: 20px;
}

.menu {
    float: right;
}

/*--------------Start-----------------*/
.menu ul {
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.menu ul a
{
    display:block;
}

.menu ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.menu ul ul
{
    display:none;
    position:absolute;
    top:58px;
    left:0;
    background: #FFFFFF;
    padding:0;
    /*width:180px;*/
    border: 1px solid #DBDBDB;
    box-shadow: 0px 0px 0px 3px rgba(234,234,234,0.5);
}

.menu ul ul li
{
    float:none;
    width:215px;
}

.menu ul ul a
{
    line-height:120%;
    padding:10px 15px
}

.menu ul ul ul
{
    top:0;
    left:100%
}

.menu ul li:hover > ul
{
    display:block
}

.menu>ul>li>ul>li {
    padding-top: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 45px;
}

.menu>ul>li>ul>li>a {
    color: #3a3a3a;
    height: 45px;
    line-height: 45px;
    border: none;
    border-bottom: 1px solid #DBDBDB;
    letter-spacing: -1px;
}

.menu>ul>li>ul>li:hover {
    background: none;
    background-color: #F2F3F4;
}

.menu>ul>li>ul>li:hover>a {
    color: #3a3a3a;
}

.menu>ul>li>ul>li:last-child>a {
    border-right: none;
    border-bottom: none;
}

/*-------------------------*/

.menu ul li {
    float: left;
    padding-top: 30px;
    height: 58px;
}

.menu ul li a {
    font-size: 15px;
    color: #3a3a3a;
    padding: 0px 9px;
    border: 1px dotted #3a3a3a;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, Arial, sans-serif;
}

.menu ul li:first-child a {
    border-left: none;
}

.menu ul li:last-child a {
    border-right: 1px dotted #3a3a3a;
}

.menu ul li.active {
    background: url("../images/menu_hover.png") no-repeat;
    background-position: top -1px left 50%;
}

.menu ul li.active a {
    color: #2C2E94;
}

.menu ul li:hover {
    background: url("../images/menu_hover.png") no-repeat;
    background-position: top -1px left 50%;
}

.menu ul li a:hover {
    color: #2C2E94;
}

.footer-menu {
    background-color: #374799;
    height: 45px;
}

.footer-menu ul {
    padding: 0 80px;
    height: 45px;
    line-height: 45px;
}

.footer-menu ul li {
    float: left;
    margin-right: 59px;
}

.footer-menu ul li:last-child {
    margin-right: 0;
}

.footer-menu ul li a {
    color: #fff;
    font-size: 16px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, Arial, sans-serif;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-menu ul li.active a {
    text-decoration: underline;
}

.copy-right {
    height: 40px;
    background-color: #f2f3f4;
    text-align: center;
    color: #2c2d2d;
    font-size: 14px;
}

.copy-right p {
    height: 40px;
    line-height: 40px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, Arial, sans-serif;
}

/* ======================================================
                    Owl Carousel
=========================================================*/
#owl-example .owl-item img{
    display: block;
    width: 100%;
    height: 335px;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
    background: url("../images/icon_arrow_left_h.png") no-repeat;
    width: 25px;
    height: 40px;
    position: absolute;
    left: -70px;
    top: 175px;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
    background: url("../images/icon_arrow_right_h.png") no-repeat;
    width: 25px;
    height: 40px;
    position: absolute;
    right: -70px;
    top: 175px;
}

.owl-theme .owl-controls {
    margin-top: -25px !important;
    text-align: right;
}

/*#owl-listface-student .owl-item {
    margin: 3px;
}*/

#owl-listface-student .owl-item img {
    width: 190px;
    height: 190px;
}

#owl-listface-student .owl-controls .owl-buttons div.owl-prev {
    background: url("../images/icon_arrow_left_h.png") no-repeat;
    width: 25px;
    height: 40px;
    position: absolute;
    left: -70px;
    top: 73px;
}

#owl-listface-student .owl-controls .owl-buttons div.owl-next {
    background: url("../images/icon_arrow_right_h.png") no-repeat;
    width: 25px;
    height: 40px;
    position: absolute;
    right: -70px;
    top: 73px;
}

/*.owl-theme .owl-controls .owl-page span {
    background: #1FE4DB !important;
    border: 2px solid #fff;
}*/

/*-------------------CONTENT--------------*/
.welcome-text {
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #374799;
}

.description-class {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 25px;
}

.face-lable {
    text-align: left;
    font-size: 18px;
    color: #374799;
    text-decoration: underline;
    font-weight: bold;
}

.list-face-student {
    margin-bottom: 50px;
    margin-top: 20px;
}

.tieude-tkb {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #374799;
    padding: 30px 0;
}

.table-tkb {
    margin-bottom: 20px;
}

.table-tkb th {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    min-width: 100px;
    text-decoration: underline;
}

.table-tkb td {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    line-height: 20px;
    padding-bottom: 15px;
}

.table-tkb td span {
    font-weight: bold;
    width: 100%;
    float: left;
    padding-bottom: 5px;
}

.table-tkb th:nth-child(3) {
    width: 145px;
}

.table-tkb th:nth-child(7) {
    width: 132px;
}

.ghi-chu {
    margin-bottom: 62px;
    font-weight: bold;
    line-height: 23px;
    font-size: 18px;
}

.ghi-chu span {
    font-size: 20px;
    text-decoration: underline;
    color: #374799;
    padding-bottom: 10px;
}

.list-dssv {
    margin-bottom: 60px;
    padding: 0 80px;
}

/*#content-1 {
    height: 300px;
}*/

ul.header-label  {
    width: 100%;
    float: left;
    background-color: #374799;
    color: #fff;
    height: 25px;
}

/*ul.header-label li {
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
}*/

/*ul.header-label li.stt {
    width: 50px;
    float: left;
    border-right: none;
}

ul.header-label li.name {
    width: 310px;
    float: left;
    border-right: none;
}

ul.header-label li.gender {
    width: 100px;
    float: left;
    border-right: none;
}

ul.header-label li.birthday {
    width: 180px;
    float: left;
    border-right: none;
}

ul.header-label li.note {
    width: 200px;
    float: left;
}*/

/*--------------*/
.table-dssv th {
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    background-color: #374799;
    color: #fff;
}

.table-dssv th.col1 {
    width: 6%;
    float: left;
    border-right: none;
}

.table-dssv th.col2 {
    width: 40%;
    float: left;
    border-right: none;
    text-align: left !important;
    padding-left: 15px;
}

.table-dssv th.col3 {
    width: 10%;
    float: left;
    border-right: none;
}

.table-dssv th.col4 {
    width: 22%;
    float: left;
}

.table-dssv th.col5 {
    width: 22%;
    float: left;
    border-left: none;
}
/*---------------*/

.table-dssv, .table-dssv tr {
    border: none;
    text-align: center;
    color: #000;
}

.table-dssv td {
    border: 1px solid #000;
    border-bottom: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

.table-dssv tr:last-child {
    border-bottom: 1px solid #000;
}

.table-dssv td.col1 {
    width: 6%;
    float: left;
    border-right: none;
}

.table-dssv td.col2 {
    width: 40%;
    float: left;
    border-right: none;
    text-align: left !important;
    padding-left: 15px;
}

.table-dssv td.col3 {
    width: 10%;
    float: left;
    border-right: none;
}

.table-dssv td.col4 {
    width: 22%;
    float: left;
}

.table-dssv td.col5 {
    width: 22%;
    float: left;
    border-left: none;
}

/*------------------------------*/
.slideup {
    padding: 30px 0px 30px;
}

.div-jquery {
    float: left;
    /*display: table;*/
    width: 100%;
    margin-bottom: 20px;
}

.div-jquery:last-child {
    margin-bottom: 0px;
}

.div-jquery h4{
    float: left;
    display: inline;
    width: 100%;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    background-color: #374799;
    color: #fff;
    border-bottom: 1px solid #ccc;
    positon: relative;
    padding-left: 55px;
}

.div-jquery h4 span{
    float: left;
    display: inline;
    height: 45px;
    line-height: 45px;
}

.div-jquery h4 i{
    float: right;
    display: inline;
    background: url("../images/icon_arrow_down.png") 0 center no-repeat;
    width: 16px;
    height: 45px;
    margin-right: 17px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.div-jquery h4.slideShow i{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.div-jquery article{
    float: left;
    display: none;
    width: 100%;
    padding: 20px;
    padding: 20px 100px 15px;
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif !important;
    font-size: 15px;
}

.div-jquery article.dis-block {
    display: block;
}

.slide-notificate{
    background: url("../images/icon_book2.png") 15px center no-repeat;
}

.text-description {
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif !important;
    font-size: 18px;
    color: #000;
    text-align: justify;
}

.noti-height {
    min-height: 500px;
}

.bm-height {
    min-height: 420px;
}

.link-group {
    color: #374799; 
    font-size: 19px; 
    font-weight: bold; 
    text-decoration: underline;
}

#contact_form {
    padding: 0 50px;
    text-align: center;
}

#contact_form input {
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 17px;

}

#contact_form textarea {
    width: 70%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: -20px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, Arial, sans-serif;
    resize: none;
}

#contact_form .red {
    color: red;
    font-size: 17px;
}

#contact_form input#send-contact {
    margin-left: -20px;
    width: 150px;
    height: 40px;
    margin-bottom: 200px;
}

.label-name-sv {
    padding-right: 10px;
    position: relative;
    bottom: 37px;
}

.text-name {
    height: 34px;
    line-height: 34px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0 10px;
    text-align: center;
    font-size: 19px;
}

#owl-album-active div {
    text-align: center;
}

#owl-album-active img {
    width: 500px;
    padding-right: 10px;
    /* padding-left: 10px; */
    height: 352px;
}

#owl-album-active2 div {
    text-align: center;
}

#owl-album-active2 img {
    width: 250px;
    padding-right: 10px;
    /* padding-left: 10px; */
    height: 190px;
}

#owl-album-active2 div.owl-prev {
    left: -45px;
    top: 75px;
}

#owl-album-active2 div.owl-next {
    right: -45px;
    top: 75px;
}